body{margin:0;
    height:100%;
    width:100%;
  padding:0;
  font-family:sans-serif,Georgia, 'Times New Roman', Times, serif;
 box-sizing:border-box;
  background-color:#e3f9ff;
 display:flex;
 justify-content:center;}
 .calculator{margin-top:20%;;
            
            border-radius:10px;
            height:fit-content;
            width:fit-content;
            display:flex;
            padding-top:20px;
            justify-content:space-evenly;
        background-color: black;
             } 
.calculator form input {
            position:relative;
            border:none;
            outline:none;
            width:60px;
            height:60px;
            box-shadow: -8px -9px 15px rgba(255,255,255,0.1),5px 5px 15px rgba(0,0,0,0.2);
            background:transparent;
            color:white;
            font-size:20px;
            margin:10px;
            border-radius:5px;
            cursor:pointer;
                   }

form .display { display:flex;
               justify-content:flex-end;
               margin:10px 0;
               
              }
.display{
         border-radius:5px;
        margin-left:10px;}
form .display input{ flex:1;
                    text-align:right;
                    font-size:45px;
                
                    box-shadow:none;
}

form div .equal{
    width:140px;
}

#operator{color:aqua;}

.equal{width:120px;}